.bout
{
  	float: right;
  	margin-right: 10px;
}
.infostemps
{
	font-size: 10px;
	margin-left: 10px;
}
#pagination
{
	text-align: center;
}
#barreRecherche, #boutonRecherche
{
	margin-top: 1.5%;
}
#previsu
{
	display: none;
}